<div class="container">
  <div class="row">
    <h2><%= @range %>s search for "<%= @word %>"</h2>

    <% if @range == "User" %>
      <%= render 'users/index', users: @users %>

    <% elsif @range == 'Book' %>
      <%= render 'books/index', books: @books %>
    <% elsif @range == 'tag' %>
      <% @tags.each do |tag| %>
         <%= render 'books/index', books: tag.books %>
      <% end %>
    <% end %>

  </div>
</div>